* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color: white;
  display: flex;
}

aside {
  height: 100vh;
  width: 300px;
}

.resp-menu {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 250px;
  margin: 10px;
}

ul {
  margin-top: 30px;
  list-style: none;
}

i {
  margin-right: 7px;
}

li {
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
}

li:nth-last-child(5) {
  background-color: rgb(99, 99, 214);
  color: aliceblue;
}

.content {
  height: 100vh;
  width: 1400px;
}

.resp-head {
  display: none;
}

.top-nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  position: relative;
  width: 300px;
}

.search-bar input {
  width: 100%;
  padding: 10px 10px 10px 30px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.account {
  display: flex;
  align-items: center;
}

img {
  height: 40px;
}

.main-content {
  height: 100vh;
  background-color: aliceblue;
}

h1,
h3 {
  padding: 10px;
  margin-left: 10px;
}

.btn-grp {
  display: flex;
  justify-content: start;
  margin-left: 10px;
  margin-top: 20px;
}

button {
  border: 2px;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.504);

  height: 35px;
  padding: 10px;
  margin-left: 0px;
}

.btn-1 {
  border-top-left-radius: 4px;
  border-color: rgb(68, 68, 219);
  background-color: rgba(95, 95, 184, 0.197);
  color: rgb(68, 68, 219);
}

.btn-2 {
  border-top-right-radius: 4px;
  margin-left: 0px;
}

.btn-3 {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  border-radius: 50px;
  border-color: rgb(140, 184, 72);
  color: rgb(140, 184, 72);
  background-color: rgba(172, 255, 47, 0.485);
}

.table {
  height: 450px;
  width: 1200px;
  padding: 20px;
  margin: 10px;
  margin-top: 0px;
  border-radius: 5px;
  background-color: white;
}

table {
  height: 350px;
  width: 1100px;
  margin-top: 10px;
  border-radius: 5px;
  border: 2px;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.504);
  background-color: rgb(255, 255, 255);
}

th {
  padding-left: 19px;
  border-style: solid;
  border-width: 2px;
  border-color: #88888832;
  text-align: left;
  background-color: rgba(128, 128, 128, 0.149);
}

tr {
  border-style: solid;
  border-width: 6px;
}

td {
  padding-left: 19px;
  border-color: rgba(128, 128, 128, 0.504);
  border-bottom: solid #88888832;
  border-width: 2px;
}

@media (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .resp-head {
    width: 100%;
  }

  .main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .resp-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: #88888832;
    border-width: 1px;
  }

  header,
  ul {
    display: none;
  }

  .resp-head {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .table {
    height: 550px;
    width: 100%;
  }

  table {
    width: 300px;
    border-style: solid;
    border-width: 1px;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
  }

  tr {
    border-style: solid;
    border-width: 1px;
  }
}

@media (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .resp-head {
    width: 100%;
  }

  .main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .resp-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: #88888832;
    border-width: 1px;
  }

  header,
  ul {
    display: none;
  }

  .resp-head {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .table {
    height: 550px;
    width: 100%;
  }

  table {
    width: 100%;
    border-style: solid;
    border-width: 1px;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
  }

  tr {
    border-style: solid;
    border-width: 1px;
  }
}
